* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
}

.container{
    width: 100%;
    height: 100vh;
    background: #3c5077;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 1rem 6rem;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2.2rem;
    font-weight: 500;
    border-radius: 3rem;
}
.popup{
    width: 400px;
    background: #fff;
    color: #333;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 3rem 3rem;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    
    
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);


}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.12);
}
.popup h2{
    font-size: 3rem;
    font-weight: 500;
    margin: 3rem 0 1rem;
}
.popup p{
    font-size: 1.7rem;
}
.popup button{
    width: 100%;
    margin-top: 3rem;
    padding: 1rem 0;
    background: #1bdc1b;
    color: #fff;
    border: none;
    outline: none;
    font-size: 1.8rem;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.12);

}